<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/app.css">
		<link rel="stylesheet" href="static/default_font.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
		<script type="text/javascript">
		function date(year, month, day) {
		    return new Date(year, month - 1, day).getTime();
		}
		function formatCurrency(n) {
				nStr = '{{.Currency}} ' + n;
				x = nStr.split('.');
				x1 = x[0];
				x2 = x.length > 1 ? '.' + x[1] : '';
				var rgx = /(\d+)(\d{3})/;
				while (rgx.test(x1)) {
					x1 = x1.replace(rgx, '$1' + ',' + '$2');
				}
				return x1 + x2;
			}
			var data = [[{{range .SummaryGraph}}{{.}},{{end}}]]
			var options = {
				series: {
					shadowSize: 5,
					points: { show: true },
					lines: {show: true},
				},
				 grid: { 
			      hoverable: true, 
			      clickable: true,
			    },
				legend: {
					position: "nw",
				},
				xaxis: {
					mode: "time",
    				timeformat: "%m/%Y",
					tickSize: [1, "month"],        
				},
				yaxis: {
					tickFormatter: formatCurrency,
					axisLabel: "Total Amount ({{.Currency}})",		 		
				},
			};
			$(document).ready(function() {
				$.plot("#summChart", data, options);
			})
		</script>
	</head>
	<body>
  		<h1>Welcome {{.User}}!</h1>
		<div id="addOpDiv" class="op">
			<b>Add Operation</b>
			<form id="addOpForm" action="op" method="post">
				Type:<select name="type">
					<option value="1" selected>Balance</option>
					<option value="2">Deposit</option>
					<option value="3">Withdrawal</option>
				</select><br>
				Investiment:<select name="inv">
					<option value="">Please select</option>
					{{range .Investments}}
						<option value="{{.Key}}">{{.Name}}</option>
					{{end}}
				</select><br>
				Value:<input type="text" name="value" size="10"><br>
				Date:<input type="date" name="date"><br>
				<input type="submit" name="action" value="Add">
			</form>
		</div>
		<div id="invDiv" class="op">
			<b>Investments</b>
			<form id="invForm" action="inv" method="post">
		    Edit:<select name="key">
				<option value="">Select to edit</option>
				{{range .Investments}}
					<option value="{{.Key}}">{{.Name}}</option>
				{{end}}
			</select><br>
			Name:<input type="text" name="name" size="15"><br>
			<input type="submit" name="action" value="New/Edit">			
			<input type="submit" name="action" value="Delete">
			</form>
		</div>
		<div id="listOpDiv" class="op">
			<b>List Operations</b>
			<form id="listOpForm" action="listops" method="post">
				Investiment:<select name="inv">
					<option value="">Please select</option>
					{{range .Investments}}
						<option value="{{.Key}}">{{.Name}}</option>
					{{end}}
				</select><br>
				<input type="submit" name="action" value="List">
			</form>
		</div>
		<div id="summDiv">
			<b>Summary</b>
			<div id="summChart"></div>
			{{range .Investments}}
				<ul>
					<li>{{.Name}}</li>
					<ul>
						{{range .Ops.Summarize}}
						<script>
							balance = formatCurrency({{.Balance}})
							change = formatCurrency({{.Change}})
							document.write("<li>{{.Date.Format "2006/01"}} || Balance:"+balance+" || Change:" + change)
						</script>
						{{end}}
					</ul>
				</ul>
			{{end}}
		</div>
		<p><a href={{.LogoutURL}}>Logout</a></p>
	</body>
</html>