<html>
	<head>
		<title>ISumm - Operations</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">

		<!-- Our own CSS -->
		<link rel="stylesheet" href="/static/css/app.css">
		<link rel="stylesheet" href="/static/css/simple-sidebar.css">
		<link rel="stylesheet" href="/static/css/typeahead.css">

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- Dependencies to UI -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
		<!-- Tooltip lib -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>

		<!-- Our own JS -->
		<script type="text/javascript" src="/static/js/number_format.js"></script>
		<script type="text/javascript" src="/static/js/ops.js"></script>
		<script type="text/javascript" src="/static/js/typeahead.js"></script>

<script type="text/javascript">
// Transform object engine to a JSON
var investments = [{{range .Investments}},{"invCode":"{{.Key}}","invName":"{{.Name}}"}{{end}}];
investments.shift();
$(document).ready(function(){
  return typeaheadWrapper(investments, "investment-field", "hiddenInputElement")();
});
</script>
	</head>
	<body>
		<div id="wrapper">
			<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<nav id="spy">
					<ul class="sidebar-nav nav">
						<li class="sidebar-brand">
							<a href="#">ISumm</a>
						</li>
						<li>
							<a href="/app" data-scroll>Resumo<i class="fa fa-line-chart"></i></a>
						</li>
						<li>
							<a href="/app/ops" data-scroll>Operações<i class="fa fa-bank"></i></a>
						</li>
						<li>
							<a href={{.LogoutURL}} data-scroll>Logout<i class="fa fa-sign-out"></i></a>
						</li>
					</ul>
				</nav>
			</div>
			<div id="page-content-wrapper">
				<div class="content-header">
					<h1 id="home">
						<a id="menu-toggle" href="#" class="btn-menu toggle">
							<i class="fa fa-bars"></i>
						</a>
						ISumm
					</h1>
				</div>
				<div class="page-content inset" data-spy="scroll" data-target="#spy">
					<div class="container-fluid">
						<div class="col-sm-6">
							<form action="/op" method="post">
							<legend>Adicionar Operação</legend>
							<div class="form-group">
								<select name="type" class="form-control c-select" required>
									<option value="">Operação</option>
									<option value="1">Saldo</option>
									<option value="2">Aporte</option>
									<option value="3">Retirada</option>
								</select>
							</div>
							<div class="form-group">
								<div id="investment-field">
									<input class="form-control typeahead" type="text" placeholder="Investimentos">
									<!-- this input will be submit with the investment id -->
									<input id="hiddenInputElement" name="inv" type="hidden" value="">
								</div>
							</div>
							<div class="form-group">
								<input id="opvalue" name="value" type="text" size="10" class="form-control" placeholder="Valor" required>
							</div>
							<div class="form-group">
								<div class='input-group date' id='datePicker'>
									<input name="date" type="text" class="form-control" required>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" name="action" class="btn btn-primary">
									<i class="fa fa-plus"></i>
									Adicionar
								</button>
							</div>
						</form>
						</div>
						<div class="col-sm-6">
							<form action="/inv" method="post">
							<legend>Investimentos</legend>
							<div class="form-group">
								<select name="key" class="form-control c-select">
									<option value="">Investimento</option>
									{{range .Investments}}
									<option value="{{.Key}}">{{.Name}}</option>
									{{end}}
								</select>
							</div>
							<div class="form-group">
								<input name="name" type="text" size="15" class="form-control" placeholder="Nome">
							</div>
							<div class="form-group">
								<button type="submit" name="action" value="ae" class="col-sm-6 btn btn-primary">
									<i class="fa fa-edit"></i>
									Novo/Editar
								</button>
								<button type="submit" name="action" value="d" class="col-sm-6 btn btn-secondary">
									<i class="fa fa-trash-o"></i>
									Remover
								</button>
							</div>
						</form>
					  </div>
					</div>
					<div class="container-fluid">
						<div class="col-sm-12">
							{{range .Investments}}
							{{$key := .Key}}
							<ul class="fa-ul">
								<li><i class="fa-li fa fa-bank"></i>{{.Name}}</li>
								<ul class="fa-ul">
									{{range .Ops.Summarize}}
									{{$summId := .Date.Format "01_2006"}}
									<li>
										<div class="summarySection">
											<script>
balance = formatCurrency({{.Balance}});
change = formatCurrency({{.Change}});
document.write("{{.Date.Format "01/2006"}}: Saldo:" + balance + " :: Aportes-Saques:" + change);
											</script>
											<div id="summaryops_{{$key}}_{{$summId}}">
												<ul>
													{{range .SummaryOps}}
													<form method="post" action="/op">
														<input type="hidden" name="inv" value="{{$key}}">
														<input type="hidden" name="action" value="d">
														<input type="hidden" name="index" value="{{.Index}}">
														<button type="submit" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Remover"><i class="fa fa-trash-o"></i></button>
														<script>
value = formatCurrency({{.Operation.Value}});
type = operationType("{{.Operation.Type}}");
document.write("<span>{{.Operation.Date.Format "02/01/2006"}} "+ type +" " + value + "</span>");
														</script>
													</form>
													{{end}}
												</ul>
											</div>
										</div>
									</li>
									{{end}}
								</ul>
							</ul>
							{{end}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/static/js/sidebar.js"></script>
	</body>
</html>
